{% block ingredients %}
                <option selected value="oz">oz</option>
                
                <option selected value="tsp">tsp</option>
                
                <option selected value="slice">slice</option>
                
                <option selected value="juice of 1">juice of 1</option>
                
                <option selected value="juice of 1/2">juice of 1/2</option>
                
                <option selected value="juice of 1/4">juice of 1/4</option>
                
                <option selected value="ml">ml</option>
                
                <option selected value="garnish with">garnish</option>
                
                <option selected value="wedge">wedge</option>
                
                <option selected value="shot">shot</option>
                
                <option selected value="dash">dash</option>

                <option selected value="whole">whole</option>

                <option selected value="twist of">twist of</option>

                </datalist>
{% endblock %}