{% block ingredients %}
                <option selected value="Vodka">Vodka</option>
                
                <option selected value="Gin">Gin</option>
                
                <option selected value="Rum">Rum</option>
                
                <option selected value="Tequila">Tequila</option>
                
                <option selected value="Scotch">Scotch</option>
                
                <option selected value="Absolut Kurant">Absolut Kurant</option>
                
                <option selected value="Absolut Peppar">Absolut Peppar</option>
                
                <option selected value="Absolut Vodka">Absolut Vodka</option>
                
                <option selected value="Advocaat">Advocaat</option>
                
                <option selected value="Aejo Rum">Aejo Rum</option>
                
                <option selected value="Aftershock">Aftershock</option>
                
                <option selected value="Agave Syrup">Agave Syrup</option>
                
                <option selected value="Ale">Ale</option>
                
                <option selected value="Allspice">Allspice</option>
                
                <option selected value="Almond Flavoring">Almond Flavoring</option>
                
                <option selected value="Almond">Almond</option>
                
                <option selected value="Amaretto">Amaretto</option>
                
                <option selected value="Angelica Root">Angelica Root</option>
                
                <option selected value="Angostura Bitters">Angostura Bitters</option>
                
                <option selected value="Anis">Anis</option>
                
                <option selected value="Anise">Anise</option>
                
                <option selected value="Anisette">Anisette</option>
                
                <option selected value="Aperol">Aperol</option>
                
                <option selected value="Apfelkorn">Apfelkorn</option>
                
                <option selected value="Apple Brandy">Apple Brandy</option>
                
                <option selected value="Apple Cider">Apple Cider</option>
                
                <option selected value="Apple Juice">Apple Juice</option>
                
                <option selected value="Apple Schnapps">Apple Schnapps</option>
                
                <option selected value="Apple">Apple</option>
                
                <option selected value="Applejack">Applejack</option>
                
                <option selected value="Apricot Brandy">Apricot Brandy</option>
                
                <option selected value="Apricot Nectar">Apricot Nectar</option>
                
                <option selected value="Apricot">Apricot</option>
                
                <option selected value="Aquavit">Aquavit</option>
                
                <option selected value="Asafoetida">Asafoetida</option>
                
                <option selected value="Añejo Rum">Añejo Rum</option>
                
                <option selected value="Bacardi Limon">Bacardi Limon</option>
                
                <option selected value="Bacardi">Bacardi</option>
                
                <option selected value="Bacardi Limon">Bacardi Limon</option>
                
                <option selected value="Bacardi">Bacardi</option>
                
                <option selected value="Bacardi">Bacardi</option>
                
                <option selected value="Baileys Irish Cream">Baileys Irish Cream</option>
                
                <option selected value="Banana Liqueur">Banana Liqueur</option>
                
                <option selected value="Banana Rum">Banana Rum</option>
                
                <option selected value="Banana Syrup">Banana Syrup</option>
                
                <option selected value="Banana">Banana</option>
                
                <option selected value="Barenjager">Barenjager</option>
                
                <option selected value="Basil">Basil</option>
                
                <option selected value="Beef Stock">Beef Stock</option>
                
                <option selected value="Beer">Beer</option>
                
                <option selected value="Benedictine">Benedictine</option>
                
                <option selected value="Berries">Berries</option>
                
                <option selected value="Bitter lemon">Bitter lemon</option>
                
                <option selected value="Bitters">Bitters</option>
                
                <option selected value="Black Pepper">Black Pepper</option>
                
                <option selected value="Black Rum">Black Rum</option>
                
                <option selected value="Black Sambuca">Black Sambuca</option>
                
                <option selected value="Blackberries">Blackberries</option>
                
                <option selected value="Blackberry Brandy">Blackberry Brandy</option>
                
                <option selected value="Blackberry Schnapps">Blackberry Schnapps</option>
                
                <option selected value="Blackcurrant Cordial">Blackcurrant Cordial</option>
                
                <option selected value="Blackcurrant Schnapps">Blackcurrant Schnapps</option>
                
                <option selected value="Blackcurrant Squash">Blackcurrant Squash</option>
                
                <option selected value="Blended Whiskey">Blended Whiskey</option>
                
                <option selected value="Blue Curacao">Blue Curacao</option>
                
                <option selected value="Blue Maui">Blue Maui</option>
                
                <option selected value="Blueberries">Blueberries</option>
                
                <option selected value="Blueberry Schnapps">Blueberry Schnapps</option>
                
                <option selected value="Bourbon">Bourbon</option>
                
                <option selected value="Brandy">Brandy</option>
                
                <option selected value="Brown Sugar">Brown Sugar</option>
                
                <option selected value="Butter">Butter</option>
                
                <option selected value="Butterscotch Schnapps">Butterscotch Schnapps</option>
                
                <option selected value="Cachaca">Cachaca</option>
                
                <option selected value="Calvados">Calvados</option>
                
                <option selected value="Campari">Campari</option>
                
                <option selected value="Canadian Whisky">Canadian Whisky</option>
                
                <option selected value="Candy">Candy</option>
                
                <option selected value="Cantaloupe">Cantaloupe</option>
                
                <option selected value="Caramel Coloring">Caramel Coloring</option>
                
                <option selected value="Carbonated Soft Drink">Carbonated Soft Drink</option>
                
                <option selected value="Carbonated Water">Carbonated Water</option>
                
                <option selected value="Cardamom">Cardamom</option>
                
                <option selected value="Cayenne Pepper">Cayenne Pepper</option>
                
                <option selected value="Celery Salt">Celery Salt</option>
                
                <option selected value="Celery">Celery</option>
                
                <option selected value="Chambord Raspberry Liqueur">Chambord Raspberry Liqueur</option>
                
                <option selected value="Champagne">Champagne</option>
                
                <option selected value="Cherries">Cherries</option>
                
                <option selected value="Cherry Brandy">Cherry Brandy</option>
                
                <option selected value="Cherry Cola">Cherry Cola</option>
                
                <option selected value="Cherry Grenadine">Cherry Grenadine</option>
                
                <option selected value="Cherry Heering">Cherry Heering</option>
                
                <option selected value="Cherry Juice">Cherry Juice</option>
                
                <option selected value="Cherry Liqueur">Cherry Liqueur</option>
                
                <option selected value="Cherry">Cherry</option>
                
                <option selected value="Chocolate Ice-cream">Chocolate Ice-cream</option>
                
                <option selected value="Chocolate Liqueur">Chocolate Liqueur</option>
                
                <option selected value="Chocolate Milk">Chocolate Milk</option>
                
                <option selected value="Chocolate Syrup">Chocolate Syrup</option>
                
                <option selected value="Chocolate">Chocolate</option>
                
                <option selected value="Cider">Cider</option>
                
                <option selected value="Cinnamon Schnapps">Cinnamon Schnapps</option>
                
                <option selected value="Cinnamon">Cinnamon</option>
                
                <option selected value="Citrus Vodka">Citrus Vodka</option>
                
                <option selected value="Clamato Juice">Clamato Juice</option>
                
                <option selected value="Cloves">Cloves</option>
                
                <option selected value="Club Soda">Club Soda</option>
                
                <option selected value="Coca-Cola">Coca-Cola</option>
                
                <option selected value="Cocktail Onion">Cocktail Onion</option>
                
                <option selected value="Cocoa Powder">Cocoa Powder</option>
                
                <option selected value="Coconut Cream">Coconut Cream</option>
                
                <option selected value="Coconut Liqueur">Coconut Liqueur</option>
                
                <option selected value="Coconut Milk">Coconut Milk</option>
                
                <option selected value="Coconut Rum">Coconut Rum</option>
                
                <option selected value="Coconut Syrup">Coconut Syrup</option>
                
                <option selected value="Coffee Brandy">Coffee Brandy</option>
                
                <option selected value="Coffee Liqueur">Coffee Liqueur</option>
                
                <option selected value="Coffee">Coffee</option>
                
                <option selected value="Cognac">Cognac</option>
                
                <option selected value="Cointreau">Cointreau</option>
                
                <option selected value="Cola">Cola</option>
                
                <option selected value="Cold Water">Cold Water</option>
                
                <option selected value="Condensed Milk">Condensed Milk</option>
                
                <option selected value="Coriander">Coriander</option>
                
                <option selected value="Corn Syrup">Corn Syrup</option>
                
                <option selected value="Cornstarch">Cornstarch</option>
                
                <option selected value="Corona">Corona</option>
                
                <option selected value="Cranberries">Cranberries</option>
                
                <option selected value="Cranberry Juice">Cranberry Juice</option>
                
                <option selected value="Cranberry Liqueur">Cranberry Liqueur</option>
                
                <option selected value="Cranberry Vodka">Cranberry Vodka</option>
                
                <option selected value="Cream of Coconut">Cream of Coconut</option>
                
                <option selected value="Cream Sherry">Cream Sherry</option>
                
                <option selected value="Cream Soda">Cream Soda</option>
                
                <option selected value="Cream">Cream</option>
                
                <option selected value="Creme De Almond">Creme De Almond</option>
                
                <option selected value="Creme De Banane">Creme De Banane</option>
                
                <option selected value="Creme De Cacao">Creme De Cacao</option>
                
                <option selected value="Creme De Cassis">Creme De Cassis</option>
                
                <option selected value="Creme De Noyaux">Creme De Noyaux</option>
                
                <option selected value="Creme Fraiche">Creme Fraiche</option>
                
                <option selected value="Crown Royal">Crown Royal</option>
                
                <option selected value="Crystal Light">Crystal Light</option>
                
                <option selected value="Cucumber">Cucumber</option>
                
                <option selected value="Cumin Powder">Cumin Powder</option>
                
                <option selected value="Cumin Seed">Cumin Seed</option>
                
                <option selected value="Curacao">Curacao</option>
                
                <option selected value="Cynar">Cynar</option>
                
                <option selected value="Daiquiri Mix">Daiquiri Mix</option>
                
                <option selected value="Dark Chocolate">Dark Chocolate</option>
                
                <option selected value="Dark Creme De Cacao">Dark Creme De Cacao</option>
                
                <option selected value="Dark Rum">Dark Rum</option>
                
                <option selected value="Dark Soy Sauce">Dark Soy Sauce</option>
                
                <option selected value="Demerara Sugar">Demerara Sugar</option>
                
                <option selected value="Dr. Pepper">Dr. Pepper</option>
                
                <option selected value="Drambuie">Drambuie</option>
                
                <option selected value="Dried Oregano">Dried Oregano</option>
                
                <option selected value="Dry Vermouth">Dry Vermouth</option>
                
                <option selected value="Dubonnet Blanc">Dubonnet Blanc</option>
                
                <option selected value="Dubonnet Rouge">Dubonnet Rouge</option>
                
                <option selected value="Egg White">Egg White</option>
                
                <option selected value="Egg Yolk">Egg Yolk</option>
                
                <option selected value="Egg">Egg</option>
                
                <option selected value="Eggnog">Eggnog</option>
                
                <option selected value="Erin Cream">Erin Cream</option>
                
                <option selected value="Espresso">Espresso</option>
                
                <option selected value="Everclear">Everclear</option>
                
                <option selected value="Fanta">Fanta</option>
                
                <option selected value="Fennel Seeds">Fennel Seeds</option>
                
                <option selected value="Firewater">Firewater</option>
                
                <option selected value="Flaked Almonds">Flaked Almonds</option>
                
                <option selected value="Food Coloring">Food Coloring</option>
                
                <option selected value="Forbidden Fruit">Forbidden Fruit</option>
                
                <option selected value="Frangelico">Frangelico</option>
                
                <option selected value="Fresca">Fresca</option>
                
                <option selected value="Fresh Basil">Fresh Basil</option>
                
                <option selected value="Fresh Lemon Juice">Fresh Lemon Juice</option>
                
                <option selected value="Fruit Juice">Fruit Juice</option>
                
                <option selected value="Fruit Punch">Fruit Punch</option>
                
                <option selected value="Fruit">Fruit</option>
                
                <option selected value="Galliano">Galliano</option>
                
                <option selected value="Garlic Sauce">Garlic Sauce</option>
                
                <option selected value="Gatorade">Gatorade</option>
                
                <option selected value="Ginger Ale">Ginger Ale</option>
                
                <option selected value="Ginger Beer">Ginger Beer</option>
                
                <option selected value="Ginger">Ginger</option>
                
                <option selected value="Glycerine">Glycerine</option>
                
                <option selected value="Godiva Liqueur">Godiva Liqueur</option>
                
                <option selected value="Gold rum">Gold rum</option>
                
                <option selected value="Gold Tequila">Gold Tequila</option>
                
                <option selected value="Goldschlager">Goldschlager</option>
                
                <option selected value="Grain Alcohol">Grain Alcohol</option>
                
                <option selected value="Grand Marnier">Grand Marnier</option>
                
                <option selected value="Granulated Sugar">Granulated Sugar</option>
                
                <option selected value="Grape juice">Grape juice</option>
                
                <option selected value="Grape soda">Grape soda</option>
                
                <option selected value="Grapefruit Juice">Grapefruit Juice</option>
                
                <option selected value="Grapes">Grapes</option>
                
                <option selected value="Green Chartreuse">Green Chartreuse</option>
                
                <option selected value="Green Creme de Menthe">Green Creme de Menthe</option>
                
                <option selected value="Green Ginger Wine">Green Ginger Wine</option>
                
                <option selected value="Green Olives">Green Olives</option>
                
                <option selected value="Grenadine">Grenadine</option>
                
                <option selected value="Ground Ginger">Ground Ginger</option>
                
                <option selected value="Guava juice">Guava juice</option>
                
                <option selected value="Guinness stout">Guinness stout</option>
                
                <option selected value="Guinness">Guinness</option>
                
                <option selected value="Half-and-half">Half-and-half</option>
                
                <option selected value="Hawaiian punch">Hawaiian punch</option>
                
                <option selected value="Hazelnut liqueur">Hazelnut liqueur</option>
                
                <option selected value="Heavy cream">Heavy cream</option>
                
                <option selected value="Honey">Honey</option>
                
                <option selected value="Hooch">Hooch</option>
                
                <option selected value="Hot Chocolate">Hot Chocolate</option>
                
                <option selected value="Hot Damn">Hot Damn</option>
                
                <option selected value="Hot Sauce">Hot Sauce</option>
                
                <option selected value="Hpnotiq">Hpnotiq</option>
                
                <option selected value="Ice-Cream">Ice-Cream</option>
                
                <option selected value="Ice">Ice</option>
                
                <option selected value="Iced tea">Iced tea</option>
                
                <option selected value="Irish cream">Irish cream</option>
                
                <option selected value="Irish Whiskey">Irish Whiskey</option>
                
                <option selected value="Jack Daniels">Jack Daniels</option>
                
                <option selected value="Jello">Jello</option>
                
                <option selected value="Jelly">Jelly</option>
                
                <option selected value="Jagermeister">Jagermeister</option>
                
                <option selected value="Jim Beam">Jim Beam</option>
                
                <option selected value="Johnnie Walker">Johnnie Walker</option>
                
                <option selected value="Kahlua">Kahlua</option>
                
                <option selected value="Key Largo Schnapps">Key Largo Schnapps</option>
                
                <option selected value="Kirschwasser">Kirschwasser</option>
                
                <option selected value="Kiwi liqueur">Kiwi liqueur</option>
                
                <option selected value="Kiwi">Kiwi</option>
                
                <option selected value="Kool-Aid">Kool-Aid</option>
                
                <option selected value="Kummel">Kummel</option>
                
                <option selected value="Lager">Lager</option>
                
                <option selected value="Lemon Juice">Lemon Juice</option>
                
                <option selected value="Lemon Peel">Lemon Peel</option>
                
                <option selected value="Lemon soda">Lemon soda</option>
                
                <option selected value="Lemon vodka">Lemon vodka</option>
                
                <option selected value="Lemon-lime soda">Lemon-lime soda</option>
                
                <option selected value="lemon-lime">lemon-lime</option>
                
                <option selected value="lemon">lemon</option>
                
                <option selected value="Lemonade">Lemonade</option>
                
                <option selected value="Licorice Root">Licorice Root</option>
                
                <option selected value="Light Cream">Light Cream</option>
                
                <option selected value="Light Rum">Light Rum</option>
                
                <option selected value="Lillet">Lillet</option>
                
                <option selected value="Lime juice cordial">Lime juice cordial</option>
                
                <option selected value="Lime Juice">Lime Juice</option>
                
                <option selected value="Lime liqueur">Lime liqueur</option>
                
                <option selected value="Lime Peel">Lime Peel</option>
                
                <option selected value="Lime vodka">Lime vodka</option>
                
                <option selected value="Lime">Lime</option>
                
                <option selected value="Limeade">Limeade</option>
                
                <option selected value="Madeira">Madeira</option>
                
                <option selected value="Malibu Rum">Malibu Rum</option>
                
                <option selected value="Mandarin">Mandarin</option>
                
                <option selected value="Mandarine napoleon">Mandarine napoleon</option>
                
                <option selected value="Mango">Mango</option>
                
                <option selected value="Maple syrup">Maple syrup</option>
                
                <option selected value="Maraschino cherry juice">Maraschino cherry juice</option>
                
                <option selected value="Maraschino Cherry">Maraschino Cherry</option>
                
                <option selected value="Maraschino Liqueur">Maraschino Liqueur</option>
                
                <option selected value="Margarita mix">Margarita mix</option>
                
                <option selected value="Marjoram leaves">Marjoram leaves</option>
                
                <option selected value="Marshmallows">Marshmallows</option>
                
                <option selected value="Maui">Maui</option>
                
                <option selected value="Melon Liqueur">Melon Liqueur</option>
                
                <option selected value="Melon Vodka">Melon Vodka</option>
                
                <option selected value="Mezcal">Mezcal</option>
                
                <option selected value="Midori Melon Liqueur">Midori Melon Liqueur</option>
                
                <option selected value="Midori">Midori</option>
                
                <option selected value="Milk">Milk</option>
                
                <option selected value="Milk">Milk</option>
                
                <option selected value="Mint syrup">Mint syrup</option>
                
                <option selected value="Mint">Mint</option>
                
                <option selected value="Mountain Dew">Mountain Dew</option>
                
                <option selected value="Nutmeg">Nutmeg</option>
                
                <option selected value="Olive Oil">Olive Oil</option>
                
                <option selected value="Olive">Olive</option>
                
                <option selected value="Onion">Onion</option>
                
                <option selected value="Orange Bitters">Orange Bitters</option>
                
                <option selected value="Orange Curacao">Orange Curacao</option>
                
                <option selected value="Orange Juice">Orange Juice</option>
                
                <option selected value="Orange liqueur">Orange liqueur</option>
                
                <option selected value="Orange Peel">Orange Peel</option>
                
                <option selected value="Orange rum">Orange rum</option>
                
                <option selected value="Orange Soda">Orange Soda</option>
                
                <option selected value="Orange spiral">Orange spiral</option>
                
                <option selected value="Orange vodka">Orange vodka</option>
                
                <option selected value="Orange">Orange</option>
                
                <option selected value="Oreo cookie">Oreo cookie</option>
                
                <option selected value="Orgeat Syrup">Orgeat Syrup</option>
                
                <option selected value="Ouzo">Ouzo</option>
                
                <option selected value="Oyster Sauce">Oyster Sauce</option>
                
                <option selected value="Papaya juice">Papaya juice</option>
                
                <option selected value="Papaya">Papaya</option>
                
                <option selected value="Parfait amour">Parfait amour</option>
                
                <option selected value="Passion fruit juice">Passion fruit juice</option>
                
                <option selected value="Passion fruit syrup">Passion fruit syrup</option>
                
                <option selected value="Passoa">Passoa</option>
                
                <option selected value="Peach brandy">Peach brandy</option>
                
                <option selected value="Peach juice">Peach juice</option>
                
                <option selected value="Peach liqueur">Peach liqueur</option>
                
                <option selected value="Peach Nectar">Peach Nectar</option>
                
                <option selected value="Peach Schnapps">Peach Schnapps</option>
                
                <option selected value="Peach Vodka">Peach Vodka</option>
                
                <option selected value="Peach">Peach</option>
                
                <option selected value="Peachtree schnapps">Peachtree schnapps</option>
                
                <option selected value="Peanut Oil">Peanut Oil</option>
                
                <option selected value="Pepper">Pepper</option>
                
                <option selected value="Peppermint extract">Peppermint extract</option>
                
                <option selected value="Peppermint Schnapps">Peppermint Schnapps</option>
                
                <option selected value="Pepsi Cola">Pepsi Cola</option>
                
                <option selected value="Pernod">Pernod</option>
                
                <option selected value="Peychaud bitters">Peychaud bitters</option>
                
                <option selected value="Pina colada mix">Pina colada mix</option>
                
                <option selected value="Pineapple Juice">Pineapple Juice</option>
                
                <option selected value="Pineapple rum">Pineapple rum</option>
                
                <option selected value="Pineapple vodka">Pineapple vodka</option>
                
                <option selected value="Pineapple-orange-banana juice">Pineapple-orange-banana juice</option>
                
                <option selected value="Pineapple">Pineapple</option>
                
                <option selected value="Pink lemonade">Pink lemonade</option>
                
                <option selected value="Pisang Ambon">Pisang Ambon</option>
                
                <option selected value="Pisco">Pisco</option>
                
                <option selected value="Plain Chocolate">Plain Chocolate</option>
                
                <option selected value="Plain Flour">Plain Flour</option>
                
                <option selected value="Plums">Plums</option>
                
                <option selected value="Port">Port</option>
                
                <option selected value="Powdered Sugar">Powdered Sugar</option>
                
                <option selected value="Purple passion">Purple passion</option>
                
                <option selected value="Raisins">Raisins</option>
                
                <option selected value="Raspberry cordial">Raspberry cordial</option>
                
                <option selected value="Raspberry Jam">Raspberry Jam</option>
                
                <option selected value="Raspberry Juice">Raspberry Juice</option>
                
                <option selected value="Raspberry Liqueur">Raspberry Liqueur</option>
                
                <option selected value="Raspberry schnapps">Raspberry schnapps</option>
                
                <option selected value="Raspberry syrup">Raspberry syrup</option>
                
                <option selected value="Raspberry Vodka">Raspberry Vodka</option>
                
                <option selected value="Red Chile Flakes">Red Chile Flakes</option>
                
                <option selected value="Red Chili Flakes">Red Chili Flakes</option>
                
                <option selected value="Red Hot Chili Flakes">Red Hot Chili Flakes</option>
                
                <option selected value="Red Wine">Red Wine</option>
                
                <option selected value="Rhubarb">Rhubarb</option>
                
                <option selected value="Ricard">Ricard</option>
                
                <option selected value="Rock Salt">Rock Salt</option>
                
                <option selected value="Root beer schnapps">Root beer schnapps</option>
                
                <option selected value="Root beer">Root beer</option>
                
                <option selected value="Roses sweetened lime juice">Roses sweetened lime juice</option>
                
                <option selected value="Rosewater">Rosewater</option>
                
                <option selected value="Rumple Minze">Rumple Minze</option>
                
                <option selected value="Rye Whiskey">Rye Whiskey</option>
                
                <option selected value="Sake">Sake</option>
                
                <option selected value="Salt">Salt</option>
                
                <option selected value="Sambuca">Sambuca</option>
                
                <option selected value="Sarsaparilla">Sarsaparilla</option>
                
                <option selected value="Schnapps">Schnapps</option>
                
                <option selected value="Schweppes Lemon">Schweppes Lemon</option>
                
                <option selected value="Schweppes Russchian">Schweppes Russchian</option>
                
                <option selected value="Sherbet">Sherbet</option>
                
                <option selected value="Sherry">Sherry</option>
                
                <option selected value="Sirup of roses">Sirup of roses</option>
                
                <option selected value="Sloe Gin">Sloe Gin</option>
                
                <option selected value="Soda Water">Soda Water</option>
                
                <option selected value="Sour Apple Pucker">Sour Apple Pucker</option>
                
                <option selected value="Sour Mix">Sour Mix</option>
                
                <option selected value="Southern Comfort">Southern Comfort</option>
                
                <option selected value="Soy Milk">Soy Milk</option>
                
                <option selected value="Soy Sauce">Soy Sauce</option>
                
                <option selected value="Soya Milk">Soya Milk</option>
                
                <option selected value="Soya Sauce">Soya Sauce</option>
                
                <option selected value="Spiced Rum">Spiced Rum</option>
                
                <option selected value="Sprite">Sprite</option>
                
                <option selected value="Squeezed Orange">Squeezed Orange</option>
                
                <option selected value="Squirt">Squirt</option>
                
                <option selected value="Strawberries">Strawberries</option>
                
                <option selected value="Strawberry juice">Strawberry juice</option>
                
                <option selected value="Strawberry liqueur">Strawberry liqueur</option>
                
                <option selected value="Strawberry Schnapps">Strawberry Schnapps</option>
                
                <option selected value="Strawberry syrup">Strawberry syrup</option>
                
                <option selected value="Sugar Syrup">Sugar Syrup</option>
                
                <option selected value="Sugar">Sugar</option>
                
                <option selected value="Sunny delight">Sunny delight</option>
                
                <option selected value="Surge">Surge</option>
                
                <option selected value="Swedish punsch">Swedish punsch</option>
                
                <option selected value="Sweet and Sour">Sweet and Sour</option>
                
                <option selected value="Sweet Cream">Sweet Cream</option>
                
                <option selected value="Sweet Vermouth">Sweet Vermouth</option>
                
                <option selected value="Tabasco Sauce">Tabasco Sauce</option>
                
                <option selected value="Tang">Tang</option>
                
                <option selected value="Tawny port">Tawny port</option>
                
                <option selected value="Tea">Tea</option>
                
                <option selected value="Tennessee whiskey">Tennessee whiskey</option>
                
                <option selected value="Tequila rose">Tequila rose</option>
                
                <option selected value="Tia Maria">Tia Maria</option>
                
                <option selected value="Tomato Juice">Tomato Juice</option>
                
                <option selected value="Tomato">Tomato</option>
                
                <option selected value="Tonic Water">Tonic Water</option>
                
                <option selected value="Triple Sec">Triple Sec</option>
                
                <option selected value="Tropicana">Tropicana</option>
                
                <option selected value="Tuaca">Tuaca</option>
                
                <option selected value="Vanilla extract">Vanilla extract</option>
                
                <option selected value="Vanilla Ice-Cream">Vanilla Ice-Cream</option>
                
                <option selected value="Vanilla liqueur">Vanilla liqueur</option>
                
                <option selected value="Vanilla schnapps">Vanilla schnapps</option>
                
                <option selected value="Vanilla syrup">Vanilla syrup</option>
                
                <option selected value="Vanilla vodka">Vanilla vodka</option>
                
                <option selected value="Vanilla">Vanilla</option>
                
                <option selected value="Vermouth">Vermouth</option>
                
                <option selected value="Vinegar">Vinegar</option>
                
                <option selected value="Water">Water</option>
                
                <option selected value="Watermelon schnapps">Watermelon schnapps</option>
                
                <option selected value="Whipped Cream">Whipped Cream</option>
                
                <option selected value="Whipping Cream">Whipping Cream</option>
                
                <option selected value="White chocolate liqueur">White chocolate liqueur</option>
                
                <option selected value="White Creme de Menthe">White Creme de Menthe</option>
                
                <option selected value="White grape juice">White grape juice</option>
                
                <option selected value="White port">White port</option>
                
                <option selected value="White Rum">White Rum</option>
                
                <option selected value="White Vinegar">White Vinegar</option>
                
                <option selected value="White Wine">White Wine</option>
                
                <option selected value="Wild Turkey">Wild Turkey</option>
                
                <option selected value="Wildberry schnapps">Wildberry schnapps</option>
                
                <option selected value="Wine">Wine</option>
                
                <option selected value="Worcestershire Sauce">Worcestershire Sauce</option>
                
                <option selected value="Wormwood">Wormwood</option>
                
                <option selected value="Yeast">Yeast</option>
                
                <option selected value="Yellow Chartreuse">Yellow Chartreuse</option>
                
                <option selected value="Yoghurt">Yoghurt</option>
                
                <option selected value="Yukon Jack">Yukon Jack</option>
                
                <option selected value="Zima">Zima</option>
                
                <option selected value="Caramel Sauce">Caramel Sauce</option>
                
                <option selected value="Chocolate Sauce">Chocolate Sauce</option>
                
                <option selected value="Lillet Blanc">Lillet Blanc</option>
                
                <option selected value="Peach Bitters">Peach Bitters</option>
                
                <option selected value="Mini-snickers bars">Mini-snickers bars</option>
                
                <option selected value="Prosecco">Prosecco</option>
                
                <option selected value="Salted Chocolate">Salted Chocolate</option>
                
                <option selected value="Martini Rosso">Martini Rosso</option>
                
                <option selected value="Martini Bianco">Martini Bianco</option>
                
                <option selected value="Martini Extra Dry">Martini Extra Dry</option>
                
                <option selected value="Fresh Lime Juice">Fresh Lime Juice</option>
                
                <option selected value="Fresh Mint">Fresh Mint</option>
                
                <option selected value="Rosemary">Rosemary</option>
                
                <option selected value="Habanero Peppers">Habanero Peppers</option>
                
                <option selected value="Ilegal Joven mezcal">Ilegal Joven mezcal</option>
                
                <option selected value="Elderflower cordial">Elderflower cordial</option>
                
                <option selected value="Rosso Vermouth">Rosso Vermouth</option>
                
                <option selected value="Creme de Violette">Creme de Violette</option>
                
                <option selected value="Cocchi Americano">Cocchi Americano</option>
                
                <option selected value="White Vermouth">White Vermouth</option>
                
                <option selected value="Dry Curacao">Dry Curacao</option>
                
                <option selected value="Nocino">Nocino</option>
                
                <option selected value="Averna">Averna</option>
                
                <option selected value="Ramazzotti">Ramazzotti</option>
                
                <option selected value="Fernet-Branca">Fernet-Branca</option>
                
                <option selected value="Allspice Dram">Allspice Dram</option>
                
                <option selected value="Falernum">Falernum</option>
                
                <option selected value="Singani">Singani</option>
                
                <option selected value="Arrack">Arrack</option>
                
                <option selected value="Blackstrap rum">Blackstrap rum</option>
                
                <option selected value="Ginger Syrup">Ginger Syrup</option>
                
                <option selected value="Honey syrup">Honey syrup</option>
                
                <option selected value="Blended Scotch">Blended Scotch</option>
                
                <option selected value="Islay single malt Scotch">Islay single malt Scotch</option>
                
                <option selected value="151 proof rum">151 proof rum</option>
                
                <option selected value="7-up">7-up</option>
                
                <option selected value="Absinthe">Absinthe</option>
                
                <option selected value="Absolut citron">Absolut citron</option>
                
                <option selected value="Creme de Mure">Creme de Mure</option>
                
                <option selected value="Olive Brine">Olive Brine</option>
                
                <option selected value="Pineapple Syrup">Pineapple Syrup</option>
                
                <option selected value="St. Germain">St. Germain</option>
                
                <option selected value="Lavender">Lavender</option>
                
                <option selected value="Whiskey">Whiskey</option>
                
                <option selected value="Whisky">Whisky</option>
                
                <option selected value="Pomegranate juice">Pomegranate juice</option>
                
                <option selected value="Watermelon">Watermelon</option>
                
                <option selected value="Chareau">Chareau</option>
                
                <option selected value="Cinnamon Whisky">Cinnamon Whisky</option>
                
                <option selected value="Red Bull">Red Bull</option>
                
                <option selected value="Diet Coke">Diet Coke</option>
                
                <option selected value="Rosemary Syrup">Rosemary Syrup</option>
                
                <option selected value="Figs">Figs</option>
                
                <option selected value="Thyme">Thyme</option>
                
                <option selected value="Orange Slice">Orange Slice</option>
                
                <option selected value="Blood Orange">Blood Orange</option>
                
                <option selected value="Amaro Montenegro">Amaro Montenegro</option>
                
                <option selected value="Ruby Port">Ruby Port</option>
                
                <option selected value="Rose">Rose</option>
                </datalist>
{% endblock %}