#container {
    max-width: 1600px;
    margin: auto;
}

@font-face {
    font-family: "Designer";
    src: url("../fonts/Designer.woff") format("woff"),
}

.jumbotron {
    color: white;
    background-image: url("../images/Homepage-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    font-family: "Designer";
    font-weight: 800;
}

h1 {
    font-family: "Designer";
}

.btn-red {
    background-color: darkred;
     box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 10px;
    color: white;
    text-shadow:
        0.07em 0 slategray,
        0 0.07em slategray,
        -0.07em 0 slategray,
        0 -0.07em slategray;
}


.stack-top{
        z-index: 9;
        position: fixed;
        right: 0;
        top: 10%;
        width: 50%;
}

/* ------- footer -----*/

.footer-spacing {
  padding: 10px;
}

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 10px;
  padding: 10px;
  color: rgb(41, 39, 39);
}

.fbanner {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 15px;
  display: block;
  height: 60px;
}


#ingredient-list li{
    list-style-type: none;
}

.favourite{
    color: goldenrod;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 10px;
}

.func-icon{
    color: slategray;
    font-size: 25px;
    padding-left: 40px;
    padding-right: 10px;
    text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black;
}

.pagination{
    justify-content: center;
}
.pagination li a{
    color: slategray;
}

.page-item.active .page-link{
    background-color: darkred !important;
    border-color: slategray;
}