
#container {
    max-width: 1600px;
    margin: auto;
}

@font-face {
    font-family: "Designer";
    src: url("../fonts/Designer.woff") format("woff"),
}

/*-- styling for base.html */

.jumbotron {
    color: white;
    background-image: url("../images/Homepage-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    font-family: "Designer";
    font-weight: 800;
}

h1 {
    font-family: "Designer";
}

.navbar-brand{
    font-family: "Designer";
}

.text-highlight{
    text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black;
}

/* ------- button styling -----*/
.btn-red {
    background-color: #7a1f1f;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 10px;
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.btn-red:hover, .btn-red:focus, .btn-red:focus{
    background-color: #3d0b0b;
    color: white;
}

/* ------- log in and register  -----*/
.stack-top{
        z-index: 9;
        position: fixed;
        right: 0;
        top: 10%;
        width: 50%;
}

/* ------- footer -----*/
.social-networks i {
  font-size: 160%;
  margin: 10px;
  padding: 10px;
  color: rgb(41, 39, 39);
}

.footer{
    background-color: #7a1f1f;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    height: 56px;
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

/* ------- cocktail card styling -----*/

.card-img-max{
    max-height: 398px;
}

#ingredient-list li{
    list-style-type: none;
}

.box-shadow{
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}

/* ------- icon styling -----*/

.favourite{
    color: goldenrod;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 10px;
}

.func-icon{
    color: slategray;
    font-size: 25px;
    padding-left: 40px;
    padding-right: 10px;
    text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black;
}

/* ------- pagination navigation -----*/

.pagination{
    justify-content: center;
}
.pagination li a{
    color: slategray;
}

.page-item.active .page-link{
    background-color: #7a1f1f !important;
    border-color: slategray;
}

.table>:not(caption)>*>*{
    padding: 0rem .5rem;
    border-color: white;
}

.pagination a:hover {
    color:black;
}

.pagination a:focus{
    border-color: #7a1f1f;
    box-shadow: 0 4px 4px  rgba(122, 31, 31) inset, 0 0 8px rgba(122, 31, 31, 0.6);
    outline: 0 none;
}

/* ------- Media Queries -----*/

@media only screen and (max-width: 600px) {
.navbar-nav {
    display: block;
  }
#hero-text {
    display: none;
}}

#drinks_description:focus,
#drinks_method:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #7a1f1f;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(122, 31, 31, 0.6);
  outline: 0 none;
}


