#container {
    max-width: 1600px;
    margin: auto;
}

@font-face {
    font-family: "Designer";
    src: url("../fonts/Designer.woff") format("woff"),
}

.jumbotron {
    color: white;
    background-image: url("../images/Homepage-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    font-family: "Designer";
    font-weight: 800;
}

h1 {
    font-family: "Designer";
}

.btn-red {
    background-color: darkred;
}


.stack-top{
        z-index: 9;
        position: fixed;
        right: 0;
        top: 10%;
        width: 50%;
}

.footer-spacing {
  padding: 10px;
}

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 10px;
  padding: 10px;
  color: rgb(41, 39, 39);
}

.fbanner {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 15px;
  display: block;
  height: 60px;
}





