#container {
    max-width: 1600px;
    margin: auto;
}

@font-face {
    font-family: "Designer";
    src: url("../fonts/Designer.woff") format("woff"),
}

.jumbotron {
    color: white;
    background-image: url("../images/Homepage-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    font-family: "Designer";
    font-weight: 800;
}

h1 {
    font-family: "Designer";
}

.btn-red {
    background-color: darkred;
}

.stack-top{
        z-index: 9;
        margin: 20px;
        position: fixed;
        right: 0;
        top: 20%;
}