#container {
    max-width: 1600px;
    margin: auto;
}

@font-face {
    font-family: "Designer";
    src: url("../fonts/Designer.woff") format("woff"),
}

.jumbotron {
  color: white;
  background-image: url("../images/Homepage-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  font-family: "Designer";
}