{% extends "base.html" %}
{% block content %}

<h1 class="display-2 d-flex justify-content-center">Create Cocktail</h1>
<div class="row">
    <div class="col">
        <form class="w-100 m-auto" method="POST" action="{{ url_for('add_drink') }}">
            <div class="input-group mb-3">
                <div class="input-group-prepend w-50">
                    <label class="input-group-text" for="category_name">Choose you Spirit</label>
                </div>
                <select class="custom-select w-50" name="category_name" id="category_name" required>
                    {% for category in categories %}
                    <option selected value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="drinks_name">Cocktail Name</label>
                <input type="text" class="form-control" id="drinks_name" name="drinks_name" minlength="5" maxlength="60"
                    placeholder="The San Diego Slammer??" required>
            </div>
            <div class="form-group mb-3">
                <label for="drinks_description">Description</label>
                <textarea class="form-control" id="drinks_description" name="drinks_description" rows="3" minlength="5"
                    maxlength="150" placeholder="This will F*#k you up!!" required></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="drinks_method">Method</label>
                <textarea class="form-control" id="drinks_method" name="drinks_method" rows="3" minlength="5"
                    maxlength="300" placeholder="Bang it in and shake it!! shake a little more, you done!"
                    required></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="img_url">Image Url</label>
                <input type="text" class="form-control" id="img_url" name="img_url" minlength="20"
                    placeholder="The San Diego Slammer??" required>
            </div>
    </div>
    <div class="col">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Ingredient</th>
                    <th scope="col">Measure</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing1" id="ing1" list="ingList" placeholder="What are you using?">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure1" id="measure1" type="text" aria-label="amount"
                                class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing2" id="ing2" list="ingList" placeholder="What are you using?">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure2" id="measure2" type="text" aria-label="amount"
                                class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing3" id="ing3" list="ingList" placeholder="What are you using?">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure3" id="measure3" type="text" aria-label="amount"
                                class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing4" id="ing4" list="ingList" placeholder="What are you using?">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure4" id="measure4" type="text" aria-label="amount"
                                class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing5" id="ing5" list="ingList" placeholder="What are you using?">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure5" id="measure5" type="text" aria-label="amount"
                                class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing6" id="ing6" list="ingList" placeholder="What are you using?">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure6" id="measure6" type="text" aria-label="amount"
                                class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing7" id="ing7" list="ingList" placeholder="What are you using?">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure7" id="measure7" type="text" aria-label="amount"
                                class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing8" id="ing8" list="ingList" placeholder="What are you using?">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure8" id="measure8" type="text" aria-label="amount"
                                class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing9" id="ing9" list="ingList" placeholder="What are you using?">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure9" id="measure9" type="text" aria-label="amount"
                                class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing10" id="ing10" list="ingList" placeholder="What are you using?">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure10" id="measure10" type="text" aria-label="amount"
                                class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing11" id="ing11" list="ingList" placeholder="What are you using?">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure11" id="measure11" type="text" aria-label="amount"
                                class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing12" id="ing12" list="ingList" placeholder="What are you using?">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure12" id="measure12" type="text" aria-label="amount"
                                class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing13" id="ing13" list="ingList" placeholder="What are you using?">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure13" id="measure13" type="text" aria-label="amount"
                                class="form-control">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-red w-100">Create</button>
    </form>
</div>
{% endblock %}