{% extends "base.html" %}
{% block content %}


<h1>All Drinks</h1>
<div class="row">
    {% for drink in cat_gin %}
    <div class="col-md-3 mb-4">
        <div class="card" style="width: 18rem;">
            <img src="{{ drink.strDrinkThumb }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ drink.strDrink }}</h5>
                <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
    </div>
</div>
    {% endfor %}

{% endblock %}