{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center mt-2">
        <div class="col-sm-12 col-md-10">
            <!-- search bar form -->
            <form class="search-bar box-shadow" method="POST" action="{{ url_for('search') }}">
                <!-- search bar -->
                <div class="input-group">
                    <a href="{{ url_for('display_drinks') }}" class="btn btn-red">Reset</a>
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="search" class="form-control rounded" placeholder="Search by category, name or ingredient..." aria-label="Search"
                    aria-describedby="search-addon" value="{{ search }}" name="search" id="search" minlength="3" required/>
                <!-- search submit button -->
                    <button type="submit" class="btn btn-red">Search</button>
                </div>
            </form>
        </div>
    </div>

<h1 class="display-1 d-flex justify-content-center">All Drinks</h1>
<div class="justify-content-center">
<!-- pagination links and start of loop to display drinks-->
{{ pagination.links }}
</div>
<div class="row">
    {% for drink in drinks %}
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
        <div class="card box-shadow">
            <img src="{{ drink.strDrinkThumb }}" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">{{ drink.strDrink }}</h5>
                <p class="card-text text-center">From the {{ drink.category_name }}, category</p>
            </div>
            <div class="card-body d-flex justify-content-center">
                <a href="{{ url_for('drink_recipe', recipe_id=drink._id) }}" class="btn btn-red w-50">View
                    Recipe</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{{ pagination.links }}
{% endblock %}