{% extends "base.html" %}
{% block content %}

<!-- COCKTAIL CARD -->
<div class="card m-auto w-75">
    <div class="row">
        <!-- returns user to all Recipes page -->
        <a class="btn m-auto w-75 btn-red" href="{{ url_for('display_drinks') }}">Back to All Recipes</a>
    </div>
    <div class="row">
        <h1 class="display-1 d-flex justify-content-center">{{ recipe.strDrink }} </h1> <br>
        <h2 class="d-flex justify-content-center pb-5">From the {{ recipe.category_name }} collection</h2>
        <hr>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <img src="{{ recipe.strDrinkThumb }}" class="card-img-top" alt="{{ recipe.strDrink }} Image">
        </div>
        <div class="col-lg-6">
            <div class="row">
                <h3>Ingredients:</h3>
            </div>
            <div class="row">
                <h3>Steps:</h3>
                <ul class="w-75">
                    {{ recipe.strInstructions }}
                </ul>
                <p>Served in a {{ recipe.strGlass }}</p>
            </div>
        </div>
    </div>
</div>
    <!-- End of COCKTAIL CARD -->


    {% endblock %}