{% extends "base.html" %}
{% block content %}

<!-- COCKTAIL CARD -->
<div class="card m-auto w-75">
    <div class="row">
        <!-- returns user to all Recipes page -->
        <a class="btn m-auto w-75 btn-red" href="{{ url_for('display_drinks') }}">Back to All Recipes</a>
    </div>
    <div class="row">
        <h1 class="display-1 d-flex justify-content-center">{{ recipe.strDrink }} </h1> <br>
        <h2 class="d-flex justify-content-center pb-5">From the {{ recipe.category_name }} collection</h2>
        <hr>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <img src="{{ recipe.strDrinkThumb }}" class="card-img-top" alt="{{ recipe.strDrink }} Image">
        </div>
        <div class="col-lg-6">
            <div class="row">
                <h3>Ingredients:</h3>
                    {{ recipe.strMeasure1 }} {{ recipe.strIngredient1 }}<br>
                    {{ recipe.strMeasure2}} {{ recipe.strIngredient2 }}<br>
                    {{ recipe.strMeasure3 }} {{ recipe.strIngredient3 }}<br>
                    {{ recipe.strMeasure4 }} {{ recipe.strIngredient4 }}<br>
                    {{ recipe.strMeasure5 }} {{ recipe.strIngredient5 }}<br>
                    {{ recipe.strMeasure6 }} {{ recipe.strIngredient6 }}<br>
                    {{ recipe.strMeasure7 }} {{ recipe.strIngredient7 }}<br>
                    {{ recipe.strMeasure8 }} {{ recipe.strIngredient8 }}<br>
                    {{ recipe.strMeasure9 }} {{ recipe.strIngredient9 }}<br>
                    {{ recipe.strMeasure10 }} {{ recipe.strIngredient10 }}<br>
                    {{ recipe.strMeasure11 }} {{ recipe.strIngredient11 }}<br>
                    {{ recipe.strMeasure12 }} {{ recipe.strIngredient12 }}<br>
                    {{ recipe.strIngredient13 }} {{ recipe.strIngredient13 }}<br>
            </div>
            <div class="row">
                <h3>Steps:</h3>
                <ul class="w-75">
                    {{ recipe.strInstructions }}
                </ul>
                <p>Served in a {{ recipe.strGlass }}</p>
            </div>
        </div>
    </div>
</div>
    <!-- End of COCKTAIL CARD -->


    {% endblock %}