{% extends "base.html" %}
{% block content %}

<h1 class="display-2 d-flex justify-content-center">Edit Cocktail</h1>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <form class="w-100 m-auto" method="POST" action="{{ url_for('edit_drink', recipe_id=recipe._id) }}">
            <div class="input-group mb-3">
                <div class="input-group-prepend w-50">
                    <label class="input-group-text" for="category_name">Choose you Spirit</label>
                </div>
                <!-- cocktail category field -->
                <select class="custom-select w-50" name="category_name" id="category_name" required>
                    <option value selected="{{ recipe.category_name }}">{{ recipe.category_name }}</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- cocktail name field -->
            <div class="form-group mb-3">
                <label for="drinks_name">Cocktail Name</label>
                <input type="text" class="form-control" id="drinks_name" name="drinks_name" minlength="5" maxlength="60"
                    value="{{ recipe.strDrink }}" required>
            </div>
            <div class="form-group mb-3">
                <label for="drinks_description">Description</label>
                <textarea class="form-control" id="drinks_description" name="drinks_description" rows="3" minlength="5"
                    maxlength="150" required>{{ recipe.drinks_description }}</textarea>
            </div>
            <!-- cocktail method field -->
            <div class="form-group mb-3">
                <label for="drinks_method">Method</label>
                <textarea class="form-control" id="drinks_method" name="drinks_method" rows="3" minlength="5"
                    maxlength="300" required>{{ recipe.strInstructions }}</textarea>
            </div>
            <!-- cocktail image field -->
            <div class="form-group mb-3">
                <label for="img_url">Image Url</label>
                <input type="text" class="form-control" id="img_url" name="img_url" minlength="20"
                    value="{{ recipe.strDrinkThumb }}" required>
            </div>
            <!-- cocktail glass field -->
            <div class="form-group mb-3">
                <label for="img_url">The Glass</label>
                <input type="text" class="form-control" id="glass" name="glass" minlength="3"
                    value="{{ recipe.strGlass }}" required>
            </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <!-- cocktail ingredient field -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Ingredient</th>
                    <th scope="col">Measure</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <!-- creates a dropdown field for ingredients -->
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing1" id="ing1" list="ingList"
                                value="{{ recipe.strIngredient1 }}">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <!-- text box for adding measurement -->
                        <div class="input-group">
                            <input name="measure1" id="measure1" type="text" aria-label="amount"
                                value="{{ recipe.strMeasure1 }}" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing2" id="ing2" list="ingList"
                                value="{{ recipe.strIngredient2 }}">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure2" id="measure2" type="text" aria-label="amount"
                                value="{{ recipe.strMeasure2 }}" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing3" id="ing3" list="ingList"
                                value="{{ recipe.strIngredient3 }}">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure3" id="measure3" type="text" aria-label="amount"
                                value="{{ recipe.strMeasure3 }}" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing4" id="ing4" list="ingList"
                                value="{{ recipe.strIngredient4 }}">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure4" id="measure4" type="text" aria-label="amount"
                                value="{{ recipe.strMeasure4 }}" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing5" id="ing5" list="ingList"
                                value="{{ recipe.strIngredient5 }}">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure5" id="measure5" type="text" aria-label="amount"
                                value="{{ recipe.strMeasure5 }}" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing6" id="ing6" list="ingList"
                                value="{{ recipe.strIngredient6 }}">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure6" id="measure6" type="text" aria-label="amount"
                                value="{{ recipe.strMeasure6 }}" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing7" id="ing7" list="ingList"
                                value="{{ recipe.strIngredient7 }}">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure7" id="measure7" type="text" aria-label="amount"
                                value="{{ recipe.strMeasure7 }}" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing8" id="ing8" list="ingList"
                                value="{{ recipe.strIngredient8 }}">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure8" id="measure8" type="text" aria-label="amount"
                                value="{{ recipe.strMeasure8 }}" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing9" id="ing9" list="ingList"
                                value="{{ recipe.strIngredient9 }}">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure9" id="measure9" type="text" aria-label="amount"
                                value="{{ recipe.strMeasure9 }}" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing10" id="ing10" list="ingList"
                                value="{{ recipe.strIngredient10 }}">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure10" id="measure10" type="text" aria-label="amount"
                                value="{{ recipe.strMeasure10 }}" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing11" id="ing11" list="ingList"
                                value="{{ recipe.strIngredient11 }}">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure11" id="measure11" type="text" aria-label="amount"
                                value="{{ recipe.strMeasure11 }}" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing12" id="ing12" list="ingList"
                                value="{{ recipe.strIngredient12 }}">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure12" id="measure12" type="text" aria-label="amount"
                                value="{{ recipe.strMeasure12 }}" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="ing13" id="ing13" list="ingList"
                                value="{{ recipe.strIngredient13 }}">
                            <datalist id="ingList">
                                {% include 'form/select-ing.html' %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="measure13" id="measure13" type="text" aria-label="amount"
                                value="{{ recipe.strMeasure13 }}" class="form-control">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Submits updated feilds to the database -->
    <button type="submit" class="btn btn-red w-100">Submit Edit</button>
    </form>
        <a class="btn m-auto w-100 btn-red" href="{{ url_for('profile', username=session['user']) }}">Cancel</a>
</div>
{% endblock %}