{% extends "base.html" %}
{% block content %}


<h1 class="display-2 d-flex justify-content-center">{{ username }}'s Cocktails</h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create a drink</h5>
                <form class="w-50 m-auto" method="POST" action="">
                    <div class="form-group mb-3">
                        <label for="drinks_name">Cocktail Name</label>
                        <input type="text" class="form-control" id="drinks_name" name="drinks_name" minlength="5"
                            maxlength="60" placeholder="The San Diego Slammer??" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend w-50">
                            <label class="input-group-text" for="category_name">Choose you Spirit</label>
                        </div>
                        <select class="custom-select w-50" id="category_name" required>
                            {% for category in categories %}
                            <option selected value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="drinks_description">Description</label>
                        <textarea class="form-control mb-3" id="drinks_description" rows="3" minlength="5" maxlength="60"
                            placeholder="This will F*#k you up!!" required></textarea>
                    </div>
                    <a class="btn btn-red w-100" href="{{ url_for('add_drink') }}">Create</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
    <h1 class="display-1 d-flex justify-content-center">Your Creations</h1>
<div class="row d-flex justify-content-center">
    {% for drink in drinks %}
        {% if drink.created_by == session["user"] %}
    <div class="col-3 mb-4">
        <div class="card" style="width: 25rem;">
            <img src="{{ drink.strDrinkThumb }}" class="card-img-top" alt="picture of {{ drink.strDrink }}">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">{{ drink.strDrink }}</h5>
                <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
            </ul>
            <div class="card-body d-flex justify-content-center">
                <a href="{{ url_for('drink_recipe', recipe_id=drink._id) }}" class="btn btn-red w-50">View Recipe</a>
                <a href="{{ url_for('edit_drink', recipe_id=drink._id) }}" class="btn btn-red w-50">Edit</a>
                <a href="{{ url_for('delete_drink', recipe_id=drink._id) }}" class="btn btn-red w-50">Delete</a>
            </div>
        </div>
    </div>
        {% endif %}
    {% endfor %}
</div>
    {% endblock %}